# Quarto specific files and directories
/.quarto/
**/*.quarto_ipynb

# RStudio project file
*.Rproj

# RStudio user-specific settings directory
.Rproj.user/

# Other R specific files
.Rprofile
.Rbuildignore
.Rhistory

# personal developement clutter
_extensions/acvt/typst/02-definitions-metadata.typ
_src/
template.typ
_output/
R/
